Repository comdex-official/comdex, pull requests merged in 2022-10, with the labels that each got.

#481 auto lint fix
  x/asset/client/cli/parse.go
  x/liquidity/amm/match.go
  x/liquidity/amm/orderbook.go
  x/liquidity/keeper/batch.go
  x/liquidity/keeper/store.go
  x/liquidity/keeper/swap.go
  x/liquidity/types/keys.go
  x/liquidity/types/msgs.go
  x/liquidity/types/order.go
  x/liquidity/types/pool.go
  x/liquidity/types/util.go
  x/rewards/types/tx.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI

#489 Feature/lend merge to hbrefactor
  .DS_Store
  app/app.go
  app/upgrades/testnet/v4_0_0/constants.go
  app/upgrades/testnet/v4_0_0/upgrades.go
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  scripts/comdex_local_setup/states.py
  x/auction/keeper/dutch_lend.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/client/rest/tx.go
  x/lend/handler.go
  x/lend/keeper/funds.go
  x/lend/keeper/gov.go
  x/lend/keeper/iter.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/lend.go
  x/lend/keeper/maths.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/types/codec.go
  x/lend/types/errors.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/lend.pb.go
  x/liquidation/keeper/liquidate_borrow.go
Labels: C:CLI, C:app-wiring, C:x/auction, C:x/lend, C:x/liquidation

#493 go lint resovle
  .github/workflows/labeler.yml
  app/upgrades/testnet/v4_0_0/upgrades.go
  x/asset/client/rest/tx.go
  x/asset/expected/keeper.go
  x/asset/keeper/keeper.go
  x/bandoracle/keeper/oracle.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/parse.go
  x/lend/client/cli/query.go
  x/lend/client/proposal_handler.go
  x/lend/client/rest/tx.go
  x/lend/keeper/alias.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/lend.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/keeper/rates.go
  x/lend/types/genesis.go
  x/lend/types/gov.go
  x/liquidation/keeper/liquidate_borrow.go
  x/market/abci.go
  x/market/types/keys.go
  x/rewards/keeper/iter.go
Labels: C:x/asset, C:x/rewards, C:CLI, T:CI, C:app-wiring, C:x/bandoracle, C:x/lend, C:x/market, C:x/liquidation

#495 state init for asset and apps in upgrade
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#496 liquidity pair creation
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#501 upgrade code added, unused file removed
  app/upgrades/mainnet/v5/upgrades.go
  x/asset/keeper/pair.go
  x/asset/types/codec.go
  x/asset/types/msg.go
  x/asset/types/tx.pb.go
  x/vault/client/testutil/helpers.go
  x/vault/keeper/keeper_test.go
  x/vault/module_test.go
Labels: C:x/asset, C:CLI, C:app-wiring, C:x/vault

#503 Minimum epoch duration, reward refactor
  x/rewards/keeper/gauge.go
  x/rewards/keeper/rewards.go
  x/rewards/types/gauge.go
Labels: C:x/rewards

#511 Dragonberry Integration
  go.mod
  go.sum
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/collector, C:x/lend, C:x/market, C:x/vault

#494 v5 initial checkin
  app/app.go
  app/upgrades/mainnet/v5/constants.go
  app/upgrades/mainnet/v5/upgrades.go
  go.mod
  go.sum
  x/asset/keeper/pair.go
  x/asset/types/codec.go
  x/asset/types/msg.go
  x/asset/types/tx.pb.go
  x/vault/client/testutil/helpers.go
  x/vault/keeper/keeper_test.go
  x/vault/module_test.go
Labels: C:x/asset, C:CLI, C:app-wiring, C:x/vault

#512 Remove alias.go
  app/app.go
  x/liquidity/abci.go
  x/liquidity/keeper/alias.go
  x/liquidity/keeper/batch_test.go
  x/liquidity/keeper/genesis.go
  x/liquidity/keeper/genesis_test.go
  x/liquidity/keeper/keeper_test.go
  x/liquidity/keeper/pool_test.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/module.go
  x/liquidity/module_test.go
Labels: C:x/liquidity, C:app-wiring

#517 Alias removal
  app/app.go
  x/liquidation/keeper/alias.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/liquidate_vaults.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/locker/keeper/alias.go
  x/locker/keeper/grpc_query.go
  x/locker/keeper/locker.go
  x/locker/keeper/msg_server.go
  x/market/abci.go
  x/market/keeper/alias.go
  x/market/keeper/oracle.go
  x/market/module.go
  x/rewards/keeper/alias.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/msg_server.go
  x/rewards/keeper/rewards.go
  x/tokenmint/keeper/alias.go
  x/tokenmint/keeper/mint.go
  x/tokenmint/keeper/mint_test.go
  x/tokenmint/keeper/msg_server.go
  x/vault/keeper/alias.go
  x/vault/keeper/msg_server.go
  x/vault/keeper/query_server.go
  x/vault/keeper/vault.go
Labels: C:x/rewards, C:app-wiring, C:x/market, C:x/vault, C:x/locker, C:x/liquidation, C:x/tokenmint

#520 Feature/dev
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  app/app.go
  go.mod
  go.sum
  x/auction/abci.go
  x/auction/keeper/alias.go
  x/auction/keeper/auction.go
  x/auction/keeper/debt.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/store.go
  x/auction/keeper/surplus.go
  x/auction/module.go
  x/bandoracle/keeper/alias.go
  x/bandoracle/keeper/oracle.go
  x/collector/expected/keeper.go
  x/collector/keeper/alias.go
  x/collector/keeper/collector.go
  x/collector/keeper/grpc_query.go
  x/collector/module.go
  x/esm/abci.go
  x/esm/keeper/alias.go
  x/esm/keeper/esm.go
  x/esm/keeper/keeper.go
  x/esm/keeper/klsw.go
  x/esm/keeper/msg_server.go
  x/esm/module.go
  x/lend/keeper/keeper_test.go
  x/liquidation/keeper/alias.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/liquidate_vaults.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/liquidity/expected/keeper.go
  x/liquidity/keeper/rewards.go
  x/locker/keeper/alias.go
  x/locker/keeper/grpc_query.go
  x/locker/keeper/locker.go
  x/locker/keeper/msg_server.go
  x/market/abci.go
  x/market/keeper/alias.go
  x/market/keeper/oracle.go
  x/market/module.go
  x/rewards/keeper/alias.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/msg_server.go
  x/rewards/keeper/rewards.go
  x/tokenmint/keeper/alias.go
  x/tokenmint/keeper/mint.go
  x/tokenmint/keeper/mint_test.go
  x/tokenmint/keeper/msg_server.go
  x/vault/keeper/alias.go
  x/vault/keeper/msg_server.go
  x/vault/keeper/query_server.go
  x/vault/keeper/vault.go
Labels: C:x/liquidity, C:x/rewards, T:CI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/collector, C:x/lend, C:x/market, C:x/vault, C:x/locker, C:x/liquidation, C:x/esm, C:x/tokenmint

#525 Feature/dev
  app/app.go
  app/wasm/bindings/query.go
  app/wasm/queries.go
  app/wasm/query_plugin.go
  app/wasm/test/messages_test.go
  app/wasm/wasm.go
  proto/comdex/auction/v1beta1/genesis.proto
  proto/comdex/bandoracle/v1beta1/tx.proto
  proto/comdex/lend/v1beta1/tx.proto
  scripts/comdex_local_setup/states.py
  x/asset/keeper/asset_test.go
  x/auction/abci.go
  x/auction/genesis.go
  x/auction/keeper/debt_test.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_test.go
  x/auction/keeper/surplus.go
  x/auction/keeper/surplus_test.go
  x/auction/types/genesis.go
  x/auction/types/genesis.pb.go
  x/bandoracle/abci.go
  x/bandoracle/client/cli/tx.go
  x/bandoracle/expected/keeper.go
  x/bandoracle/keeper/oracle.go
  x/bandoracle/types/fetch_price.go
  x/bandoracle/types/gov.go
  x/bandoracle/types/tx.pb.go
  x/collector/keeper/collector_test.go
  x/esm/keeper/esm.go
  x/lend/client/cli/tx.go
  x/lend/handler.go
  x/lend/keeper/iter.go
  x/lend/keeper/keeper.go
  x/lend/keeper/lend.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/types/codec.go
  x/lend/types/keys.go
  x/lend/types/params.go
  x/lend/types/tx.go
  x/lend/types/tx.pb.go
  x/liquidation/keeper/liquidate_vaults.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/market/abci.go
  x/market/keeper/oracle.go
  x/vault/keeper/keeper_test.go
Labels: C:x/asset, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/collector, C:x/lend, C:x/market, C:x/vault, C:wasm, C:x/liquidation, C:x/esm

#527 update version name to test beta migration
  app/upgrades/mainnet/v5/constants.go
Labels: C:app-wiring

#531 updating kv store byte
  x/asset/types/keys.go
Labels: C:x/asset

#532 reordering
  app/app.go
  x/lend/expected/keeper.go
  x/lend/keeper/migrations.go
  x/lend/module.go
Labels: C:app-wiring, C:x/lend

#538 Active farmer set bug fix
  x/liquidity/keeper/rewards.go
  x/liquidity/keeper/rewards_test.go
  x/liquidity/keeper/store.go
  x/liquidity/types/farm.go
  x/liquidity/types/genesis.go
Labels: C:x/liquidity

#539 update protocol parameters
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#540 Feature/dev
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
  x/liquidity/keeper/rewards.go
  x/liquidity/keeper/rewards_test.go
  x/liquidity/keeper/store.go
  x/liquidity/types/farm.go
  x/liquidity/types/genesis.go
Labels: C:x/liquidity, C:app-wiring

#542 correct error types
  x/asset/keeper/app.go
  x/asset/keeper/pairs_vault.go
  x/asset/types/errors.go
Labels: C:x/asset

#541 Update asset name
  app/upgrades/mainnet/v5/upgrades.go
  x/asset/keeper/app.go
  x/asset/keeper/pairs_vault.go
  x/asset/types/errors.go
Labels: C:x/asset, C:app-wiring

#545 Feature/dev
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
  app/wasm/message_plugin.go
  x/auction/module.go
  x/collector/module.go
  x/esm/module.go
  x/locker/keeper/locker.go
  x/locker/keeper/locker_test.go
  x/rewards/keeper/rewards.go
Labels: C:x/rewards, C:app-wiring, C:x/auction, C:x/collector, C:wasm, C:x/locker, C:x/esm

#547 stablemint decimal fix
  x/auction/expected/keeper.go
  x/auction/keeper/auction.go
  x/auction/keeper/dutch.go
  x/vault/keeper/msg_server.go
  x/vault/keeper/vault.go
Labels: C:x/auction, C:x/vault

#550 asset module migration added
  app/upgrades/testnet/v5_0_0/off_load_data.go
  x/asset/keeper/migrations.go
  x/asset/migrations/v5/migrations.go
  x/asset/module.go
  x/lend/keeper/migrations.go
  x/lend/migrations/v5/migrations.go
  x/lend/module.go
Labels: C:x/asset, C:app-wiring, C:x/lend

#551 minor addition
  x/lend/migrations/v5/migrations.go
Labels: C:x/lend

#553 Esmtest
  proto/comdex/esm/v1beta1/esm.proto
  x/esm/abci.go
  x/esm/keeper/esm.go
  x/esm/keeper/keeper.go
  x/esm/keeper/msg_server.go
  x/esm/types/esm.pb.go
  x/esm/types/keys.go
  x/vault/keeper/vault.go
Labels: C:x/vault, C:x/esm

#555 restructure init and end blocker modules
  app/app.go
Labels: C:app-wiring
