Repository comdex-official/comdex, pull requests merged in 2022-11, with the labels that each got.

#558 esm changes, decimal fix added
  app/upgrades/mainnet/v5/upgrades.go
  app/wasm/test/helpers_test.go
  proto/comdex/asset/v1beta1/asset.proto
  proto/comdex/esm/v1beta1/esm.proto
  proto/comdex/esm/v1beta1/query.proto
  scripts/comdex_local_setup/constants.py
  scripts/comdex_local_setup/main.py
  scripts/comdex_local_setup/states.py
  x/asset/client/cli/tx.go
  x/asset/keeper/asset.go
  x/asset/keeper/asset_test.go
  x/asset/types/asset.go
  x/asset/types/asset.pb.go
  x/auction/keeper/auction.go
  x/auction/keeper/dutch_test.go
  x/collector/keeper/collector.go
  x/collector/keeper/collector_test.go
  x/esm/abci.go
  x/esm/client/cli/query.go
  x/esm/expected/keeper.go
  x/esm/keeper/esm.go
  x/esm/keeper/grpc_query.go
  x/esm/keeper/keeper.go
  x/esm/keeper/msg_server.go
  x/esm/types/esm.pb.go
  x/esm/types/keys.go
  x/esm/types/query.pb.go
  x/esm/types/query.pb.gw.go
  x/lend/keeper/keeper_test.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/liquidity/client/testutil/helpers.go
  x/liquidity/keeper/keeper_test.go
  x/liquidity/module_test.go
  x/locker/keeper/locker_test.go
  x/market/keeper/keeper_test.go
  x/market/keeper/oracle.go
  x/rewards/expected/keeper.go
  x/rewards/keeper/rewards.go
  x/tokenmint/keeper/mint_test.go
  x/vault/client/testutil/helpers.go
  x/vault/keeper/keeper_test.go
  x/vault/keeper/query_server.go
  x/vault/keeper/vault.go
  x/vault/module_test.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/collector, C:x/lend, C:x/market, C:x/vault, C:wasm, C:x/locker, C:x/liquidation, C:x/esm, C:x/tokenmint

#561 removing logger
  x/liquidation/keeper/liquidate_borrow.go
Labels: C:x/liquidation

#562 cmst asset out oracle price is true
  x/asset/migrations/v5/migrations.go
Labels: C:x/asset

#565 Feature/dev
  README.md
Labels: C:docs

#564 state changes enabled for ABCI state changes
  types/utils.go
  x/auction/abci.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/dutch_test.go
  x/liquidation/abci.go
  x/liquidation/keeper/keeper_test.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/liquidate_vaults.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/liquidity/abci.go
Labels: C:x/liquidity, C:x/auction, C:x/liquidation

#566 bump sdk, wasm, ibc version
  go.mod
  go.sum
  x/lend/types/tx_test.go
Labels: C:x/lend

#567 changes enabled for ABCI state changes
  go.mod
  go.sum
  types/utils.go
  x/auction/abci.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/dutch_test.go
  x/lend/types/tx_test.go
  x/liquidation/abci.go
  x/liquidation/keeper/keeper_test.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/liquidate_vaults.go
  x/liquidation/keeper/liquidate_vaults_test.go
  x/liquidity/abci.go
Labels: C:x/liquidity, C:x/auction, C:x/lend, C:x/liquidation

#568 Lend fix
  x/lend/keeper/iter.go
Labels: C:x/lend

#570 audit 6-fix, comments added
  x/lend/keeper/iter.go
Labels: C:x/lend

#571 Feature/dev
  x/lend/keeper/iter.go
Labels: C:x/lend

#573 Codecs register removed from action module
  x/auction/module.go
Labels: C:app-wiring, C:x/auction

#578 update sdk and ibc versions
  go.mod
  go.sum
  x/esm/keeper/esm.go
  x/market/keeper/keeper_test.go
  x/rewards/keeper/rewards.go
Labels: C:x/rewards, C:x/market, C:x/esm

#580 genesis correction
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
  proto/comdex/auction/v1beta1/genesis.proto
  proto/comdex/vault/v1beta1/genesis.proto
  x/auction/genesis.go
  x/auction/keeper/genesis_store.go
  x/auction/keeper/query_server.go
  x/auction/types/genesis.go
  x/auction/types/genesis.pb.go
  x/collector/genesis.go
  x/collector/keeper/collector.go
  x/liquidation/genesis.go
  x/rewards/keeper/rewards.go
  x/vault/genesis.go
  x/vault/types/genesis.go
  x/vault/types/genesis.pb.go
Labels: C:x/rewards, C:app-wiring, C:x/auction, C:x/collector, C:x/vault, C:x/liquidation

#581 genesis correction
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
  proto/comdex/auction/v1beta1/genesis.proto
  proto/comdex/vault/v1beta1/genesis.proto
  x/auction/genesis.go
  x/auction/keeper/genesis_store.go
  x/auction/keeper/query_server.go
  x/auction/types/genesis.go
  x/auction/types/genesis.pb.go
  x/collector/genesis.go
  x/collector/keeper/collector.go
  x/liquidation/genesis.go
  x/rewards/keeper/rewards.go
  x/vault/genesis.go
  x/vault/types/genesis.go
  x/vault/types/genesis.pb.go
Labels: C:x/rewards, C:app-wiring, C:x/auction, C:x/collector, C:x/vault, C:x/liquidation

#585 Hbrmain
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#586 Feature/dev
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#587 Liquidation tx
  proto/comdex/liquidation/v1beta1/tx.proto
  x/asset/keeper/app.go
  x/auction/genesis.go
  x/bandoracle/abci.go
  x/esm/abci.go
  x/esm/keeper/esm.go
  x/liquidation/client/cli/cli.go
  x/liquidation/client/cli/tx.go
  x/liquidation/handler.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/codec.go
  x/liquidation/types/errors.go
  x/liquidation/types/keys.go
  x/liquidation/types/msg.go
  x/liquidation/types/tx.pb.go
  x/rewards/keeper/iter.go
  x/vault/keeper/msg_server.go
Labels: C:x/asset, C:x/rewards, C:CLI, C:x/auction, C:x/bandoracle, C:x/vault, C:x/liquidation, C:x/esm

#589 events added in vault, auction, liquidation
  scripts/comdex_local_setup/states.py
  x/auction/abci.go
  x/auction/keeper/dutch.go
  x/auction/types/events.go
  x/esm/keeper/esm.go
  x/liquidation/abci.go
  x/liquidation/types/events.go
  x/market/keeper/oracle.go
  x/market/types/events.go
  x/vault/keeper/msg_server.go
  x/vault/types/events.go
Labels: C:x/auction, C:x/market, C:x/vault, C:x/liquidation, C:x/esm

#590 New liquidity pairs in mainet upgrade
  app/upgrades/mainnet/v5/upgrades.go
  x/liquidity/types/generic_params.go
Labels: C:x/liquidity, C:app-wiring

#591 params changed for mainnet
  app/upgrades/mainnet/v5/upgrades.go
  x/auction/keeper/dutch.go
Labels: C:app-wiring, C:x/auction

#592 Feature/dev
  app/upgrades/mainnet/v5/upgrades.go
  proto/comdex/liquidation/v1beta1/tx.proto
  scripts/comdex_local_setup/states.py
  x/asset/keeper/app.go
  x/auction/abci.go
  x/auction/genesis.go
  x/auction/keeper/dutch.go
  x/auction/types/events.go
  x/bandoracle/abci.go
  x/esm/abci.go
  x/esm/keeper/esm.go
  x/liquidation/abci.go
  x/liquidation/client/cli/cli.go
  x/liquidation/client/cli/tx.go
  x/liquidation/handler.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/codec.go
  x/liquidation/types/errors.go
  x/liquidation/types/events.go
  x/liquidation/types/keys.go
  x/liquidation/types/msg.go
  x/liquidation/types/tx.pb.go
  x/liquidity/keeper/pair_test.go
  x/liquidity/types/generic_params.go
  x/market/keeper/oracle.go
  x/market/types/events.go
  x/rewards/keeper/iter.go
  x/vault/keeper/msg_server.go
  x/vault/types/events.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/market, C:x/vault, C:x/liquidation, C:x/esm

#593 Sign bytes added for auction messages
  x/auction/types/msg.go
Labels: C:x/auction

#595 esm,fix in auction
  x/auction/expected/keeper.go
  x/auction/keeper/dutch.go
  x/esm/keeper/keeper.go
Labels: C:x/auction, C:x/esm

#597 Feature/dev
  scripts/comdex_local_setup/main.py
  x/auction/expected/keeper.go
  x/auction/keeper/dutch.go
  x/bandoracle/client/cli/cli.go
  x/collector/client/cli/tx.go
  x/esm/client/cli/query.go
  x/esm/client/cli/tx.go
  x/esm/keeper/keeper.go
  x/liquidity/client/cli/query.go
  x/liquidity/client/cli/tx.go
  x/locker/client/cli/cli.go
  x/rewards/client/cli/query.go
  x/rewards/client/cli/tx.go
  x/tokenmint/client/cli/query.go
  x/tokenmint/client/cli/tx.go
  x/vault/client/cli/query.go
  x/vault/client/cli/tx.go
Labels: C:x/liquidity, C:x/rewards, C:CLI, C:x/auction, C:x/bandoracle, C:x/collector, C:x/vault, C:x/locker, C:x/esm, C:x/tokenmint

#598 hbr gov check
  app/upgrades/mainnet/v5/upgrades.go
Labels: C:app-wiring

#601 update ibc for atom osmo and usdc
  app/upgrades/mainnet/v5/constants.go
  app/upgrades/mainnet/v5/upgrades.go
  x/esm/types/params.go
Labels: C:app-wiring, C:x/esm

#599 Feature/dev
  app/upgrades/mainnet/v5/constants.go
  app/upgrades/mainnet/v5/upgrades.go
  x/esm/types/params.go
Labels: C:app-wiring, C:x/esm

#603 bump sdk ibc version and refactor app
  app/app.go
  go.mod
  go.sum
  x/asset/module.go
  x/liquidity/amm/orderbook.go
Labels: C:x/asset, C:x/liquidity, C:app-wiring

#605 tx cmd added for lend liquidation
  proto/comdex/liquidation/v1beta1/tx.proto
  x/liquidation/client/cli/tx.go
  x/liquidation/handler.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/codec.go
  x/liquidation/types/errors.go
  x/liquidation/types/keys.go
  x/liquidation/types/msg.go
  x/liquidation/types/tx.pb.go
Labels: C:CLI, C:x/liquidation

#606 Feature/dev
  app/app.go
  go.mod
  go.sum
  proto/comdex/liquidation/v1beta1/tx.proto
  x/asset/module.go
  x/liquidation/client/cli/tx.go
  x/liquidation/handler.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/codec.go
  x/liquidation/types/errors.go
  x/liquidation/types/keys.go
  x/liquidation/types/msg.go
  x/liquidation/types/tx.pb.go
  x/liquidity/amm/orderbook.go
Labels: C:x/asset, C:x/liquidity, C:CLI, C:app-wiring, C:x/liquidation

#611 CV FIX: wasm snapshot
  app/app.go
Labels: C:app-wiring

#614 revert Sentinels tombstoned validator
  app/app.go
  app/upgrades/mainnet/v510/constants.go
  app/upgrades/mainnet/v510/proposal.go
  app/upgrades/mainnet/v510/stake_records.go
  app/upgrades/mainnet/v510/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring

#612 Lend, borrow refactor, queries added in band, asset
  README.md
  app/app.go
  app/upgrades/mainnet/v510/upgrades.go
  app/upgrades/mainnet/v6/constants.go
  app/upgrades/mainnet/v6/proposal.go
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v6/upgrades.go
  go.mod
  go.sum
  proto/comdex/asset/v1beta1/query.proto
  proto/comdex/bandoracle/v1beta1/query.proto
  proto/comdex/lend/v1beta1/lend.proto
  scripts/comdex_local_setup/constants.py
  scripts/comdex_local_setup/main.py
  scripts/comdex_local_setup/states.py
  x/asset/client/cli/cli.go
  x/asset/client/cli/query.go
  x/asset/keeper/query_server.go
  x/asset/types/query.pb.go
  x/asset/types/query.pb.gw.go
  x/auction/keeper/dutch_lend.go
  x/bandoracle/client/cli/cli.go
  x/bandoracle/client/cli/query.go
  x/bandoracle/keeper/query_server.go
  x/bandoracle/types/query.pb.go
  x/bandoracle/types/query.pb.gw.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/tx.go
  x/lend/expected/keeper.go
  x/lend/keeper/borrow.go
  x/lend/keeper/funds.go
  x/lend/keeper/iter.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/maths.go
  x/lend/keeper/migrations.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/migrations/v5/migrations.go
  x/lend/migrations/v5/types/lend.pb.go
  x/lend/module.go
  x/lend/types/errors.go
  x/lend/types/keys.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/liquidation/expected/keeper.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/msg.go
  x/liquidity/amm/orderbook.go
Labels: C:x/asset, C:x/liquidity, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/lend, C:x/liquidation, C:docs

#615 Feature/dev
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  README.md
  app/app.go
  app/upgrades/mainnet/v6/constants.go
  app/upgrades/mainnet/v6/proposal.go
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v6/upgrades.go
  go.mod
  go.sum
  proto/comdex/asset/v1beta1/query.proto
  proto/comdex/bandoracle/v1beta1/query.proto
  proto/comdex/lend/v1beta1/lend.proto
  scripts/comdex_local_setup/constants.py
  scripts/comdex_local_setup/main.py
  scripts/comdex_local_setup/states.py
  x/asset/client/cli/cli.go
  x/asset/client/cli/query.go
  x/asset/keeper/query_server.go
  x/asset/types/query.pb.go
  x/asset/types/query.pb.gw.go
  x/auction/keeper/dutch_lend.go
  x/bandoracle/client/cli/cli.go
  x/bandoracle/client/cli/query.go
  x/bandoracle/keeper/query_server.go
  x/bandoracle/types/query.pb.go
  x/bandoracle/types/query.pb.gw.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/tx.go
  x/lend/expected/keeper.go
  x/lend/keeper/borrow.go
  x/lend/keeper/funds.go
  x/lend/keeper/iter.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/maths.go
  x/lend/keeper/migrations.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/migrations/v5/migrations.go
  x/lend/migrations/v5/types/lend.pb.go
  x/lend/module.go
  x/lend/types/errors.go
  x/lend/types/keys.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/liquidation/expected/keeper.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/msg_server.go
  x/liquidation/types/msg.go
  x/liquidity/amm/orderbook.go
Labels: C:x/asset, C:x/liquidity, C:CLI, T:CI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/lend, C:x/liquidation, C:docs
