Repository comdex-official/comdex, pull requests merged in 2022-12, with the labels that each got.

#616 CLI refactor in lend and collector module, sentinel's slashed data in…
  app/upgrades/mainnet/v6/proposal.go
  app/upgrades/mainnet/v6/stake_records.go
  x/collector/client/cli/query.go
  x/collector/client/cli/tx.go
  x/lend/client/cli/query.go
  x/lend/client/cli/tx.go
Labels: C:CLI, C:app-wiring, C:x/collector, C:x/lend

#617 adding testcases
  app/upgrades/mainnet/v6/upgrades.go
  proto/comdex/rewards/v1beta1/genesis.proto
  x/auction/keeper/dutch_lend.go
  x/auction/types/events.go
  x/lend/keeper/keeper.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/types/events.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/types/errors.go
  x/liquidity/amm/orderbook.go
  x/rewards/genesis.go
  x/rewards/types/genesis.go
  x/rewards/types/genesis.pb.go
  x/tokenmint/genesis_test.go
  x/tokenmint/handler_test.go
  x/tokenmint/keeper/keeper_test.go
  x/tokenmint/keeper/mint_test.go
  x/tokenmint/keeper/msg_server_test.go
  x/tokenmint/module_test.go
  x/tokenmint/types/msg.go
  x/tokenmint/types/msg_test.go
  x/tokenmint/types/types.go
  x/vault/genesis_test.go
  x/vault/handler_test.go
  x/vault/types/genesis_test.go
Labels: C:x/liquidity, C:x/rewards, C:app-wiring, C:x/auction, C:x/lend, C:x/vault, C:x/liquidation, C:x/tokenmint

#619 update to 45.9 comdex's cosmos version
  go.mod
  go.sum
  third_party/proto/protoc-gen-openapiv2/options/openapiv2.pb.go
  x/locker/types/locker.pb.go
  x/tokenmint/types/mint.pb.go
  x/tokenmint/types/tx.pb.go
  x/vault/types/vault.pb.go
Labels: C:x/vault, C:x/locker, C:x/tokenmint

#620 Feature/dev
  app/upgrades/mainnet/v6/proposal.go
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v6/upgrades.go
  go.mod
  go.sum
  proto/comdex/rewards/v1beta1/genesis.proto
  third_party/proto/protoc-gen-openapiv2/options/openapiv2.pb.go
  x/auction/keeper/dutch_lend.go
  x/auction/types/events.go
  x/collector/client/cli/query.go
  x/collector/client/cli/tx.go
  x/lend/client/cli/query.go
  x/lend/client/cli/tx.go
  x/lend/keeper/keeper.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/types/events.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/types/errors.go
  x/liquidity/amm/orderbook.go
  x/locker/types/locker.pb.go
  x/rewards/genesis.go
  x/rewards/types/genesis.go
  x/rewards/types/genesis.pb.go
  x/tokenmint/genesis_test.go
  x/tokenmint/handler_test.go
  x/tokenmint/keeper/keeper_test.go
  x/tokenmint/keeper/mint_test.go
  x/tokenmint/keeper/msg_server_test.go
  x/tokenmint/module_test.go
  x/tokenmint/types/mint.pb.go
  x/tokenmint/types/msg.go
  x/tokenmint/types/msg_test.go
  x/tokenmint/types/tx.pb.go
  x/tokenmint/types/types.go
  x/vault/genesis_test.go
  x/vault/handler_test.go
  x/vault/types/genesis_test.go
  x/vault/types/vault.pb.go
Labels: C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/collector, C:x/lend, C:x/vault, C:x/locker, C:x/liquidation, C:x/tokenmint

#622 Feature/dev
  .DS_Store
  app/upgrades/mainnet/v6/upgrades.go
  x/auction/keeper/dutch_lend.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/lend.go
  x/lend/keeper/msg_server_test.go
  x/lend/types/errors.go
  x/lend/types/params.go
  x/liquidation/expected/keeper.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/types/errors.go
  x/rewards/expected/keeper.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper_test.go
  x/rewards/keeper/msg_server_test.go
Labels: C:x/rewards, C:app-wiring, C:x/auction, C:x/lend, C:x/liquidation

#625 update testnet version to v6.0.0.beta
  app/app.go
  app/upgrades/mainnet/v6/constants.go
Labels: C:app-wiring

#626 Stake data update
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v6/upgrades.go
Labels: C:app-wiring

#627 Feature dev upgrade merge for development
  app/app.go
  app/upgrades/mainnet/v6/constants.go
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v6/upgrades.go
Labels: C:app-wiring

#628 V6 Upgrade fix
  app/upgrades/mainnet/v6/stake_records.go
Labels: C:app-wiring

#629 Feature/dev
  app/upgrades/mainnet/v6/stake_records.go
Labels: C:app-wiring

#634 get assets added in liquidity pools by assetID and lp address
  x/liquidity/expected/keeper.go
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/rewards.go
  x/liquidity/keeper/rewards_test.go
Labels: C:x/liquidity

#635 updating stable mint rewards
  x/rewards/abci.go
  x/rewards/expected/keeper.go
  x/rewards/keeper/iter.go
  x/vault/keeper/msg_server.go
  x/vault/keeper/vault.go
  x/vault/types/keys.go
Labels: C:x/rewards, C:x/vault

#636 Address formatting fixed
  x/auction/keeper/debt.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
Labels: C:x/auction

#643 stable mint rewards function
  x/rewards/expected/keeper.go
  x/rewards/keeper/iter.go
  x/vault/keeper/vault.go
Labels: C:x/rewards, C:x/vault

#639 Auction hot fix
  README.md
  x/auction/keeper/debt.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/dutch_test.go
  x/liquidity/amm/orderbook.go
Labels: C:x/liquidity, C:x/auction, C:docs

#631 Lend fund res
  app/app.go
  app/upgrades/mainnet/v7/constants.go
  app/upgrades/mainnet/v7/upgrades.go
  proto/comdex/lend/v1beta1/genesis.proto
  proto/comdex/lend/v1beta1/lend.proto
  proto/comdex/lend/v1beta1/query.proto
  proto/comdex/lend/v1beta1/tx.proto
  x/auction/expected/keeper.go
  x/auction/keeper/dutch_lend.go
  x/lend/client/cli/query.go
  x/lend/client/cli/tx.go
  x/lend/genesis.go
  x/lend/handler.go
  x/lend/keeper/grpc_query.go
  x/lend/keeper/iter.go
  x/lend/keeper/keeper.go
  x/lend/keeper/lend.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/types/codec.go
  x/lend/types/genesis.go
  x/lend/types/genesis.pb.go
  x/lend/types/keys.go
  x/lend/types/lend.pb.go
  x/lend/types/query.pb.go
  x/lend/types/query.pb.gw.go
  x/lend/types/tx.go
  x/lend/types/tx.pb.go
  x/liquidation/expected/keeper.go
  x/liquidation/keeper/liquidate_borrow.go
  x/rewards/expected/keeper.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/keeper_test.go
  x/rewards/keeper/msg_server_test.go
  x/rewards/types/tx.go
Labels: C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/lend, C:x/liquidation
