Repository comdex-official/comdex, pull requests merged in 2023-03, with the labels that each got.

#704 Refactor make file
  Makefile
Labels: T:build

#703 Add initial deposit for gov proposals to avoid spam
  app/ante.go
  app/app.go
  app/decorators/gov_filter.go
Labels: C:app-wiring

#712 borrow more functionality added
  app/app.go
  app/upgrades/mainnet/v10/constants.go
  app/upgrades/mainnet/v10/upgrades.go
  app/wasm/queries.go
  x/lend/keeper/keeper.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/liquidity/keeper/store.go
Labels: C:x/liquidity, C:app-wiring, C:x/lend, C:wasm

#716 query name changed
  proto/comdex/auction/v1beta1/query.proto
  x/auction/client/cli/cli.go
  x/auction/client/cli/query.go
  x/auction/keeper/query_server.go
  x/auction/types/query.pb.go
  x/auction/types/query.pb.gw.go
Labels: C:CLI, C:x/auction

#718 Feature/dev
  app/app.go
  app/upgrades/mainnet/v10/upgrades.go
Labels: C:app-wiring

#720 swagger yaml updated
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
Labels: C:CLI

#721 add go version check in make file
  Makefile
Labels: T:build

#725 Distribution
  app/app.go
  app/upgrades/mainnet/v10/failed_rewards.go
  app/upgrades/mainnet/v10/upgrades.go
  x/liquidity/expected/keeper.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/rewards.go
Labels: C:x/liquidity, C:app-wiring

#727 resolve struct error
  app/upgrades/mainnet/v10/failed_rewards.go
  x/lend/keeper/pair.go
Labels: C:app-wiring, C:x/lend

#731 Feature/dev
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  app/app.go
  app/upgrades/mainnet/v10/failed_rewards.go
  app/upgrades/mainnet/v10/upgrades.go
  client/docs/static/openapi/index.html
  client/docs/static/openapi/openapi.yaml
  client/docs/static/swagger/swagger.yaml
  go.mod
  go.sum
  x/lend/keeper/pair.go
  x/liquidity/expected/keeper.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/rewards.go
Labels: C:x/liquidity, C:CLI, T:CI, C:app-wiring, C:x/lend, T:build
