Repository comdex-official/comdex, pull requests merged in 2023-04, with the labels that each got.

#742 minor fix in rewards iter
  x/rewards/keeper/iter.go
Labels: C:x/rewards

#747 test net v0.10.1 upgrade handler
  app/app.go
  app/upgrades/testnet/v10/constants.go
  app/upgrades/testnet/v10/upgrades.go
Labels: C:app-wiring

#748 update go.mod, added upgrade handler, update rewards fix, replace tendermint with skip-mev
  .github/workflows/lint-docs.yml
  app/app.go
  app/upgrades/testnet/v10/constants.go
  app/upgrades/testnet/v10/upgrades.go
  cmd/comdex/genwasm.go
  cmd/comdex/root.go
  go.mod
  go.sum
  x/rewards/keeper/iter.go
Labels: C:x/rewards, T:CI, C:app-wiring

#749 upgrade v10 for main net, update go version on ymls
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  app/app.go
  app/upgrades/mainnet/v10/constants.go
Labels: T:CI, C:app-wiring

#750 workflow, upgrade name updated
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  app/app.go
  app/upgrades/mainnet/v10/constants.go
Labels: T:CI, C:app-wiring

#751 update golang version on jobs to 1.19
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: T:CI

#752 workflow updated
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: T:CI
