Repository comdex-official/comdex, pull requests merged in 2023-12, with the labels that each got.

#861 v13 mainet upgrade migration
  app/app.go
  app/upgrades/mainnet/v13/constants.go
  app/upgrades/mainnet/v13/upgrade_test.go
  app/upgrades/mainnet/v13/upgrades.go
  app/upgrades/testnet/v13/upgrade_test.go
  cmd/comdex/root.go
  x/auctionsV2/keeper/bid.go
  x/auctionsV2/types/errors.go
  x/bandoracle/abci.go
  x/lend/keeper/keeper.go
  x/market/abci.go
Labels: C:app-wiring, C:x/bandoracle, C:x/lend, C:x/market

#868 v13.2.0 upgrade handler
  app/app.go
  app/upgrades/mainnet/v13/constants.go
  app/upgrades/mainnet/v13/upgrade_test.go
  app/upgrades/mainnet/v13/upgrades.go
  app/upgrades/testnet/v13/upgrade_test.go
  cmd/comdex/root.go
  go.mod
  go.sum
  x/auctionsV2/keeper/bid.go
  x/auctionsV2/types/errors.go
  x/bandoracle/abci.go
  x/lend/keeper/keeper.go
  x/market/abci.go
Labels: C:app-wiring, C:x/bandoracle, C:x/lend, C:x/market

#871 pfm security patch
  app/app.go
  app/upgrades/mainnet/v13/constants.go
  app/upgrades/mainnet/v13/upgrades.go
  cmd/comdex/migrate.go
  go.mod
  go.sum
Labels: C:app-wiring

#872 pfm security patch
  app/app.go
  app/upgrades/mainnet/v13/constants.go
  app/upgrades/mainnet/v13/upgrades.go
  cmd/comdex/migrate.go
  go.mod
  go.sum
Labels: C:app-wiring

#878 Integer typecasting update in order matching core for liquidity module
  x/liquidity/amm/util.go
Labels: C:x/liquidity

#880 fix to decimal typecasting from Int64
  types/utils.go
  x/liquidity/amm/match.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/swap.go
  x/liquidity/types/order.go
  x/liquidity/types/util.go
Labels: C:x/liquidity

#879 Feature/dev
  types/utils.go
  x/liquidity/amm/match.go
  x/liquidity/amm/util.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/swap.go
  x/liquidity/types/order.go
  x/liquidity/types/util.go
Labels: C:x/liquidity
