Repository comdex-official/comdex, pull requests merged in 2023-02, with the labels that each got.

#674 Upgrade code for v8.1.0 mainnet added
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#675 Feature/dev
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#676 updatng cAssets ID
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#677 Feature/dev
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#679 Stability upgrade
  proto/comdex/vault/v1beta1/tx.proto
  x/vault/client/cli/tx.go
  x/vault/expected/keeper.go
  x/vault/handler.go
  x/vault/keeper/msg_server.go
  x/vault/types/codec.go
  x/vault/types/keys.go
  x/vault/types/msg.go
  x/vault/types/tx.pb.go
  x/vault/types/vault.pb.go
Labels: C:CLI, C:x/vault

#681 Feature/dev
  proto/comdex/vault/v1beta1/tx.proto
  x/vault/client/cli/tx.go
  x/vault/expected/keeper.go
  x/vault/handler.go
  x/vault/keeper/msg_server.go
  x/vault/types/codec.go
  x/vault/types/keys.go
  x/vault/types/msg.go
  x/vault/types/tx.pb.go
  x/vault/types/vault.pb.go
Labels: C:CLI, C:x/vault

#682 stability fee correction tx cmd removed
  proto/comdex/vault/v1beta1/tx.proto
  x/vault/client/cli/tx.go
  x/vault/expected/keeper.go
  x/vault/handler.go
  x/vault/keeper/msg_server.go
  x/vault/types/codec.go
  x/vault/types/keys.go
  x/vault/types/msg.go
  x/vault/types/tx.pb.go
Labels: C:CLI, C:x/vault

#684 Proposal refactor
  app/app.go
  app/upgrades/testnet/v9_0_0/constants.go
  app/upgrades/testnet/v9_0_0/upgrades.go
  proto/comdex/asset/v1beta1/gov.proto
  proto/comdex/asset/v1beta1/pair.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  proto/comdex/lend/v1beta1/query.proto
  x/asset/client/cli/flags.go
  x/asset/client/cli/parse.go
  x/asset/client/cli/tx.go
  x/asset/client/proposal_handler.go
  x/asset/client/rest/tx.go
  x/asset/handler.go
  x/asset/keeper/asset.go
  x/asset/keeper/gov.go
  x/asset/types/asset.go
  x/asset/types/codec.go
  x/asset/types/gov.go
  x/asset/types/gov.pb.go
  x/asset/types/pair.pb.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/parse.go
  x/lend/client/cli/query.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/client/rest/tx.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/keeper/grpc_query.go
  x/lend/keeper/iter.go
  x/lend/keeper/migrate.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/module.go
  x/lend/types/codec.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/lend/types/query.pb.go
  x/lend/types/query.pb.gw.go
  x/liquidity/types/liquidity.pb.go
  x/liquidity/types/params.pb.go
  x/liquidity/types/query.pb.go
  x/liquidity/types/tx.pb.go
  x/rewards/keeper/migrate.go
  x/rewards/module.go
  x/vault/types/vault.pb.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/lend, C:x/vault

#685 total active and queued farmed pool coins queries added
  proto/comdex/liquidity/v1beta1/query.proto
  x/liquidity/client/cli/query.go
  x/liquidity/keeper/grpc_query.go
  x/liquidity/types/query.pb.go
  x/liquidity/types/query.pb.gw.go
Labels: C:x/liquidity, C:CLI

#687 Plan name update for testnet upgrade
  app/app.go
  app/upgrades/testnet/v9_0_0/constants.go
Labels: C:app-wiring

#688 Mv9
  app/app.go
  app/upgrades/mainnet/v9/constants.go
  app/upgrades/mainnet/v9/upgrades.go
Labels: C:app-wiring

#689 Feature/dev
  app/app.go
  app/upgrades/mainnet/v9/constants.go
  app/upgrades/mainnet/v9/upgrades.go
Labels: C:app-wiring

#697 bump up ibc and cosmos version
  go.mod
  go.sum
  x/lend/keeper/pair.go
  x/liquidity/amm/order.go
  x/liquidity/amm/util.go
  x/liquidity/amm/util_test.go
  x/liquidity/amm/view.go
  x/liquidity/client/cli/query.go
  x/liquidity/client/cli/tx.go
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/store.go
  x/liquidity/keeper/swap.go
  x/liquidity/types/msgs.go
  x/liquidity/types/order.go
  x/liquidity/types/orderbook.go
  x/liquidity/types/pool.go
  x/liquidity/types/request.go
  x/liquidity/types/util.go
  x/rewards/keeper/grpc_query.go
  x/rewards/keeper/migrate.go
  x/vault/types/keys.go
Labels: C:x/liquidity, C:x/rewards, C:CLI, C:x/lend, C:x/vault
