Repository comdex-official/comdex, pull requests merged in 2023-07, with the labels that each got.

#761 adding pool Depreciate poposal
  app/app.go
  app/upgrades/mainnet/v12/upgrades.go
  proto/comdex/lend/v1beta1/genesis.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  proto/comdex/lend/v1beta1/tx.proto
  x/lend/abci.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/parse.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/client/rest/tx.go
  x/lend/genesis.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/lend.go
  x/lend/keeper/migrate.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/migrations/v2/types/lend.pb.go
  x/lend/module.go
  x/lend/types/codec.go
  x/lend/types/errors.go
  x/lend/types/genesis.go
  x/lend/types/genesis.pb.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/keys.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/lend/types/params.go
  x/lend/types/tx.go
  x/lend/types/tx.pb.go
  x/liquidation/keeper/liquidate_borrow.go
Labels: C:CLI, C:app-wiring, C:x/lend, C:x/liquidation

#804 Feature/dev
  .github/workflows/labeler.yml
  app/app.go
  app/upgrades/mainnet/v12/upgrades.go
  go.mod
  go.sum
  proto/comdex/lend/v1beta1/genesis.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  proto/comdex/lend/v1beta1/tx.proto
  x/esm/types/codec.go
  x/lend/abci.go
  x/lend/client/cli/flags.go
  x/lend/client/cli/parse.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/client/rest/tx.go
  x/lend/genesis.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/keeper/keeper.go
  x/lend/keeper/keeper_test.go
  x/lend/keeper/lend.go
  x/lend/keeper/migrate.go
  x/lend/keeper/msg_server.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/migrations/v2/types/lend.pb.go
  x/lend/module.go
  x/lend/types/codec.go
  x/lend/types/errors.go
  x/lend/types/genesis.go
  x/lend/types/genesis.pb.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/keys.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/lend/types/params.go
  x/lend/types/tx.go
  x/lend/types/tx.pb.go
  x/liquidation/keeper/liquidate_borrow.go
Labels: C:CLI, T:CI, C:app-wiring, C:x/lend, C:x/liquidation, C:x/esm

#812 go version upgrade to 1.20
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  README.md
  go.mod
Labels: T:CI, C:docs, T:build

#814 adding auction queries
  app/upgrades/mainnet/v12/constants.go
  proto/comdex/auctionsV2/v1beta1/bid.proto
  proto/comdex/auctionsV2/v1beta1/query.proto
  x/auctionsV2/client/cli/query.go
  x/auctionsV2/keeper/bid.go
  x/auctionsV2/keeper/grpc_query.go
  x/auctionsV2/keeper/utils.go
  x/auctionsV2/types/keys.go
  x/auctionsV2/types/query.pb.go
  x/auctionsV2/types/query.pb.gw.go
Labels: C:CLI, C:app-wiring

#815 Liq auc refactor
  app/app.go
  app/upgrades/mainnet/v12/upgrades.go
  go.mod
  go.sum
  x/auctionsV2/module.go
  x/liquidationsV2/module.go
Labels: C:app-wiring

#818 refactoring liquidate.go, bid.go
  go.mod
  proto/comdex/auctionsV2/v1beta1/auction.proto
  proto/comdex/auctionsV2/v1beta1/query.proto
  scripts/comdex_local_setup/constants.py
  x/auctionsV2/client/cli/query.go
  x/auctionsV2/expected/keeper.go
  x/auctionsV2/keeper/auctions.go
  x/auctionsV2/keeper/bid.go
  x/auctionsV2/keeper/grpc_query.go
  x/auctionsV2/keeper/msg_server_test.go
  x/auctionsV2/keeper/utils.go
  x/auctionsV2/module.go
  x/auctionsV2/types/auction.pb.go
  x/auctionsV2/types/errors.go
  x/auctionsV2/types/keys.go
  x/auctionsV2/types/query.pb.go
  x/auctionsV2/types/query.pb.gw.go
  x/collector/keeper/collector.go
  x/liquidationsV2/client/cli/tx.go
  x/liquidationsV2/expected/keeper.go
  x/liquidationsV2/keeper/liquidate.go
  x/liquidationsV2/keeper/msg_server_test.go
  x/liquidationsV2/types/msg.go
Labels: C:CLI, C:app-wiring, C:x/collector
