Repository comdex-official/comdex, pull requests merged in 2023-05, with the labels that each got.

#753 updating DistributeExtRewardLend fn
  x/bandoracle/oracle.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/msg_server_test.go
Labels: C:x/rewards, C:x/bandoracle

#755 Feature/dev
  go.mod
  go.sum
  x/bandoracle/oracle.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/keeper.go
  x/rewards/keeper/msg_server_test.go
Labels: C:x/rewards, C:x/bandoracle

#763 add upgrade logs
  app/upgrades/mainnet/v11/upgrades.go
  app/upgrades/testnet/v11/upgrades.go
Labels: C:app-wiring

#774 Add asset permissionless transaction
  app/app.go
  proto/comdex/asset/v1beta1/params.proto
  proto/comdex/asset/v1beta1/query.proto
  proto/comdex/asset/v1beta1/tx.proto
  x/asset/client/cli/cli.go
  x/asset/client/cli/query.go
  x/asset/client/cli/tx.go
  x/asset/expected/keeper.go
  x/asset/genesis.go
  x/asset/handler.go
  x/asset/keeper/asset.go
  x/asset/keeper/keeper.go
  x/asset/keeper/msg_server.go
  x/asset/keeper/params.go
  x/asset/keeper/query_server.go
  x/asset/types/codec.go
  x/asset/types/msgs.go
  x/asset/types/params.go
  x/asset/types/params.pb.go
  x/asset/types/query.pb.go
  x/asset/types/query.pb.gw.go
  x/asset/types/tx.pb.go
Labels: C:x/asset, C:CLI, C:app-wiring

#778 v12 Testnet Migration
  app/app.go
  app/upgrades/testnet/v12/constants.go
  app/upgrades/testnet/v12/upgrades.go
  cmd/comdex/migrate.go
  cmd/comdex/migration.go
  cmd/comdex/root.go
  go.mod
  go.sum
Labels: C:app-wiring

#780 testnet v11.2.0, mainnet v11.3.0 added
  app/app.go
  app/upgrades/mainnet/v11/constants.go
  app/upgrades/mainnet/v11/upgrades.go
  app/upgrades/testnet/v11_2/constants.go
  app/upgrades/testnet/v11_2/upgrades.go
  cmd/comdex/migrate.go
  cmd/comdex/migration.go
  go.mod
  go.sum
Labels: C:app-wiring

#781 old upgrade removed
  app/app.go
Labels: C:app-wiring
