Repository comdex-official/comdex, pull requests merged in 2023-01, with the labels that each got.

#649 refactoring v7 upgrade code
  app/upgrades/mainnet/v7/upgrades.go
  x/auction/keeper/dutch_lend_test.go
  x/auction/keeper/keeper_test.go
  x/liquidation/keeper/keeper_test.go
  x/liquidation/keeper/liquidate_borrow_test.go
Labels: C:app-wiring, C:x/auction, C:x/liquidation

#650 Feature/dev
  app/upgrades/mainnet/v7/upgrades.go
  x/auction/keeper/dutch_lend_test.go
  x/auction/keeper/keeper_test.go
  x/liquidation/keeper/keeper_test.go
  x/liquidation/keeper/liquidate_borrow_test.go
Labels: C:app-wiring, C:x/auction, C:x/liquidation

#654 wasmd and wasmvm upgrade
  go.mod
  go.sum
  x/vault/keeper/msg_server.go
Labels: C:x/vault

#655 Update : sdk bump, ibc version and band oracle changes,tendermint upg…
  app/ante.go
  app/app.go
  app/upgrades/mainnet/v5/upgrades.go
  app/upgrades/mainnet/v6/proposal.go
  app/upgrades/mainnet/v6/stake_records.go
  app/upgrades/mainnet/v7/upgrades.go
  app/upgrades/testnet/v2_0_0/upgrades.go
  app/wasm/message_plugin.go
  go.mod
  go.sum
  x/bandoracle/expected/keeper.go
  x/bandoracle/keeper/keeper.go
  x/bandoracle/keeper/oracle.go
  x/bandoracle/module.go
  x/bandoracle/module_ibc.go
  x/bandoracle/oracle.go
  x/bandoracle/types/errors.go
  x/bandoracle/types/genesis.go
  x/liquidity/keeper/keeper.go
  x/market/expected/keeper.go
Labels: C:x/liquidity, C:app-wiring, C:x/bandoracle, C:x/market, C:wasm

#657 Reward dist price inactive issue fix
  x/liquidity/keeper/rewards.go
  x/liquidity/keeper/rewards_test.go
Labels: C:x/liquidity

#656 updating ext rewards: removed inverse rate
  app/app.go
  x/auction/keeper/dutch_lend_test.go
  x/lend/keeper/keeper.go
  x/lend/keeper/msg_server_test.go
  x/lend/keeper/pair.go
  x/lend/types/keys.go
  x/liquidation/keeper/liquidate_borrow.go
  x/liquidation/keeper/liquidate_borrow_test.go
  x/rewards/keeper/iter.go
  x/rewards/keeper/msg_server_test.go
Labels: C:x/rewards, C:app-wiring, C:x/auction, C:x/lend, C:x/liquidation

#660 Fix: typo
  README.md
Labels: C:docs

#659 adding v8 upgrade code
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
  proto/comdex/asset/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/liquidation/v1beta1/querier.proto
  x/asset/client/cli/flags.go
  x/asset/client/cli/tx.go
  x/asset/client/proposal_handler.go
  x/asset/handler.go
  x/asset/keeper/asset.go
  x/asset/keeper/gov.go
  x/asset/keeper/pair.go
  x/asset/types/codec.go
  x/asset/types/gov.go
  x/asset/types/gov.pb.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/types/codec.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/lend.pb.go
  x/liquidation/client/cli/query.go
  x/liquidation/keeper/query_server.go
  x/liquidation/types/querier.pb.go
  x/liquidation/types/querier.pb.gw.go
Labels: C:x/asset, C:CLI, C:app-wiring, C:x/lend, C:x/liquidation

#662 error codes, auction tx cmd refactor
  app/app.go
  proto/comdex/auction/v1beta1/tx.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  x/asset/types/errors.go
  x/auction/client/cli/tx.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/dutch_lend_test.go
  x/auction/keeper/dutch_test.go
  x/auction/keeper/msg_server.go
  x/auction/types/errors.go
  x/auction/types/msg.go
  x/auction/types/tx.pb.go
  x/bandoracle/types/errors.go
  x/esm/types/errors.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/keeper/pair.go
  x/lend/types/codec.go
  x/lend/types/errors.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/liquidation/types/errors.go
  x/liquidity/types/errors.go
  x/locker/types/errors.go
  x/market/types/errors.go
  x/rewards/types/errors.go
  x/tokenmint/types/errors.go
  x/vault/types/errors.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/lend, C:x/market, C:x/vault, C:x/locker, C:x/liquidation, C:x/esm, C:x/tokenmint

#661 V8 upgrade code, new proposals added
  README.md
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
  proto/comdex/asset/v1beta1/gov.proto
  proto/comdex/auction/v1beta1/tx.proto
  proto/comdex/lend/v1beta1/gov.proto
  proto/comdex/lend/v1beta1/lend.proto
  proto/comdex/liquidation/v1beta1/querier.proto
  x/asset/client/cli/flags.go
  x/asset/client/cli/tx.go
  x/asset/client/proposal_handler.go
  x/asset/handler.go
  x/asset/keeper/asset.go
  x/asset/keeper/gov.go
  x/asset/keeper/pair.go
  x/asset/types/codec.go
  x/asset/types/errors.go
  x/asset/types/gov.go
  x/asset/types/gov.pb.go
  x/auction/client/cli/tx.go
  x/auction/keeper/dutch.go
  x/auction/keeper/dutch_lend.go
  x/auction/keeper/dutch_lend_test.go
  x/auction/keeper/dutch_test.go
  x/auction/keeper/msg_server.go
  x/auction/types/errors.go
  x/auction/types/msg.go
  x/auction/types/tx.pb.go
  x/bandoracle/types/errors.go
  x/esm/types/errors.go
  x/lend/client/cli/tx.go
  x/lend/client/proposal_handler.go
  x/lend/handler.go
  x/lend/keeper/gov.go
  x/lend/keeper/pair.go
  x/lend/types/codec.go
  x/lend/types/errors.go
  x/lend/types/gov.go
  x/lend/types/gov.pb.go
  x/lend/types/lend.pb.go
  x/lend/types/pair.go
  x/liquidation/client/cli/query.go
  x/liquidation/keeper/query_server.go
  x/liquidation/types/errors.go
  x/liquidation/types/querier.pb.go
  x/liquidation/types/querier.pb.gw.go
  x/liquidity/amm/match.go
  x/liquidity/amm/orderbook.go
  x/liquidity/amm/util.go
  x/liquidity/amm/util_test.go
  x/liquidity/types/errors.go
  x/locker/types/errors.go
  x/market/types/errors.go
  x/rewards/types/errors.go
  x/tokenmint/types/errors.go
  x/vault/types/errors.go
Labels: C:x/asset, C:x/liquidity, C:x/rewards, C:CLI, C:app-wiring, C:x/auction, C:x/bandoracle, C:x/lend, C:x/market, C:x/vault, C:x/locker, C:x/liquidation, C:x/esm, C:x/tokenmint, C:docs

#667 duplicate lend fix and cPool name max length update
  x/lend/keeper/keeper.go
  x/lend/types/pair.go
Labels: C:x/lend

#668 Feature/dev
  x/lend/keeper/keeper.go
  x/lend/types/pair.go
Labels: C:x/lend

#669 updating auction params and added apr query
  app/app.go
  app/upgrades/mainnet/v8/upgrades.go
  proto/comdex/rewards/v1beta1/query.proto
  x/rewards/client/cli/query.go
  x/rewards/keeper/grpc_query.go
  x/rewards/keeper/keeper.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
Labels: C:x/rewards, C:CLI, C:app-wiring

#671 stability fee value corrected
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#670 Multiple Parameters Update for v8
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
  proto/comdex/rewards/v1beta1/query.proto
  x/rewards/client/cli/query.go
  x/rewards/keeper/grpc_query.go
  x/rewards/keeper/keeper.go
  x/rewards/types/query.pb.go
  x/rewards/types/query.pb.gw.go
Labels: C:x/rewards, C:CLI, C:app-wiring

#672 gusdc denom update code
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring

#673 Handler added for testnet Upgrade
  app/app.go
  app/upgrades/mainnet/v8/constants.go
  app/upgrades/mainnet/v8/upgrades.go
Labels: C:app-wiring
