Repository comdex-official/comdex, pull requests merged in 2023-06, with the labels that each got.

#783 genesis validation fix for liquidity module
  x/liquidity/types/genesis.go
Labels: C:x/liquidity

#784 genesis validation fix for liquidity module
  x/liquidity/types/genesis.go
Labels: C:x/liquidity

#788 upgrade plan name changed
  app/app.go
  app/upgrades/mainnet/v11/constants.go
  app/upgrades/mainnet/v11/upgrades.go
  app/upgrades/testnet/v11_4/constants.go
  app/upgrades/testnet/v11_4/upgrades.go
  cmd/comdex/migration.go
Labels: C:app-wiring

#791 auto lint and update make build
  Makefile
  app/app.go
  app/upgrades/mainnet/v11/upgrades.go
  app/upgrades/testnet/v11/upgrades.go
  app/upgrades/testnet/v11_4/upgrades.go
  cmd/comdex/migration.go
  x/asset/types/msgs.go
  x/asset/types/params.go
Labels: C:x/asset, C:app-wiring, T:build

#792 auto lint and update make build
  Makefile
  app/app.go
  app/upgrades/mainnet/v11/upgrades.go
  app/upgrades/testnet/v11/upgrades.go
  app/upgrades/testnet/v11_4/upgrades.go
  cmd/comdex/migration.go
  x/asset/types/msgs.go
  x/asset/types/params.go
Labels: C:x/asset, C:app-wiring, T:build

#797 include Interchain queries ICQ module
  app/app.go
  app/upgrades/mainnet/v12/constants.go
  app/upgrades/mainnet/v12/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring

#798 icq added
  app/app.go
  app/upgrades/mainnet/v12/constants.go
  app/upgrades/mainnet/v12/upgrades.go
  go.mod
  go.sum
Labels: C:app-wiring

#801 init register codec
  x/esm/types/codec.go
Labels: C:x/esm
