Repository comdex-official/comdex, pull requests merged in 2023-08, with the labels that each got.

#820 adding auction queries and minor refactor
  app/app.go
  app/upgrades/mainnet/v12/constants.go
  go.mod
  go.sum
  proto/comdex/auctionsV2/v1beta1/query.proto
  x/auctionsV2/client/cli/query.go
  x/auctionsV2/client/cli/tx.go
  x/auctionsV2/keeper/auctions.go
  x/auctionsV2/keeper/bid.go
  x/auctionsV2/keeper/grpc_query.go
  x/auctionsV2/types/codec.go
  x/auctionsV2/types/query.pb.go
  x/auctionsV2/types/query.pb.gw.go
  x/lend/types/keys.go
  x/liquidationsV2/client/cli/tx.go
  x/liquidationsV2/types/codec.go
Labels: C:CLI, C:app-wiring, C:x/lend

#819 Refund v12
  app/app.go
  app/upgrades/mainnet/v12/refund.go
  app/upgrades/mainnet/v12/upgrades.go
  x/collector/expected/keeper.go
  x/collector/keeper/keeper.go
Labels: C:app-wiring, C:x/collector

#821 minor refactor
  app/upgrades/mainnet/v12/refund.go
  app/upgrades/mainnet/v12/upgrades.go
Labels: C:app-wiring

#833 Auctions v2 refactor
  app/app.go
  app/upgrades/mainnet/v12/constants.go
  app/upgrades/mainnet/v12/upgrades.go
  proto/comdex/auctionsV2/v1beta1/query.proto
  proto/comdex/lend/v1beta1/query.proto
  proto/comdex/liquidationsV2/v1beta1/query.proto
  x/auctionsV2/client/cli/query.go
  x/auctionsV2/keeper/auctions.go
  x/auctionsV2/keeper/grpc_query.go
  x/auctionsV2/module.go
  x/auctionsV2/types/errors.go
  x/auctionsV2/types/query.pb.go
  x/auctionsV2/types/query.pb.gw.go
  x/lend/client/cli/query.go
  x/lend/keeper/grpc_query.go
  x/lend/types/query.pb.go
  x/lend/types/query.pb.gw.go
  x/liquidationsV2/keeper/liquidate.go
  x/liquidationsV2/module.go
  x/liquidationsV2/types/errors.go
  x/liquidationsV2/types/query.pb.go
  x/liquidationsV2/types/query.pb.gw.go
Labels: C:CLI, C:app-wiring, C:x/lend

#834 updating version
  app/upgrades/mainnet/v12/constants.go
Labels: C:app-wiring

#835 Feature/dev
  app/upgrades/mainnet/v12/constants.go
Labels: C:app-wiring
